/* .active.myCourse-navLink {
    border-bottom: 3px solid var(--secondaryClr);
    font-family: ProximaNovaSoft-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
  } */
  .active-myCourse-navLink {
    text-decoration: none;
    border-bottom: 3px solid var(--secondaryClr);
    font-family: ProximaNovaSoft-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
  }
  .myCourse-color {
    color: #232323;
  }
  .myCourse-navLink {
    text-decoration: none;
    font-family: ProximaNovaSoft-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #b0b0b0;
    text-decoration: none;
  }
  
  /* .myCourse-container {
    display: flex;
    gap: 6rem;
    padding: 1rem 0rem 2rem 0;
  } */
  .myCourse-container {
    display: flex;
    gap: 6rem;
    padding: 2rem 4rem 2rem 5rem;
    background: white;
    position: fixed;
    left: 16rem;
    right: 0;
    top: 6rem;
    z-index: 1;
  }
  
  .studentList-containermyCourse {
    position: absolute !important;
    z-index: -3;
    left: 288px;
    top: 195.274px;
    border-radius: 2.5em 0 0 0;
    right: 0;
    height: 100%;
    background-color: #f9f9f9;
    overflow: auto;
    padding: 2rem;
    /* display: none; */
  }
  
  @media only screen and (max-width: 1139px) {
    .myCourse-container {
      gap: 2rem;
    }
  }
  
  @media only screen and (max-width: 995px) {
    .active-myCourse-navLink {
      font-size: 19px;
    }
  
    .myCourse-navLink {
      font-size: 19px;
    }
  }
  
  @media only screen and (max-width: 855px) {
    .myCourse-container {
      gap: 1rem;
      padding: 2rem 1rem 1rem 1rem;
      overflow: auto;
      left: 0;
      top: 5rem;
      display: flex;
    }
    .active-myCourse-navLink {
      gap: 1rem;
      padding: 2rem 1rem 1rem 1rem;
      overflow: auto;
      left: 0;
      top: 5rem;
      display: flex;
    }
  
    .studentList-containermyCourse {
  
      left: 0;
  
    }
  
    .studentList-containermyCourse {
  
      top: 163.274px;
      border-radius: 0;
  
    }
  
  
  
  }