.addCategory {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
}

.subCategoryInput {
  font-family: ProximaNovaSoft-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #111111;
  border-radius: 8px;
  border: 1px solid #0000004a;
  padding: 5px 10px;
  outline: none;
  width: 80%;
  height: 3rem;
  margin-top: 8px;
}

.catImages {
  /* background-color: #f9f9f9; */
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.imageCell {
  padding: 1%;
  border: 2px solid #f9f9f9;
  cursor: pointer;
}

.saveButton {
  border: none;
  background: #ee5c4d;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  cursor: pointer;
  color: #ffffff;
  cursor: pointer;
  padding: 6px 61px;
  margin-left: 20%;
}

.categoryImageText {
  font-family: ProximaNovaSoft-Regular;
  font-weight: 500;
  font-size: 16px;
  color: #292929;
  line-height: 24px;
  letter-spacing: 0.2px;
  /* color: #111111; */
  margin-top: 3px;
}

/* .buttonContainer {
  display: flex;
  justify-content: flex-end;
} */
