.container-courseDetail {
  position: relative;
  background-color: #ffffff;
  margin: 15px;
  /* min-height: 100%; */
  height: calc(100% - 30px);
  /* overflow: auto; */
  padding: 34px;
  border-radius: 10px;
  z-index: -2;
  min-width: max-content;
}

.courseDetail-header {
  /* border-style: dashed;  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  /* cursor: pointer; */
  background-color: #ffffff;

}

.courseDetail-header-left {
  /* border-style:dotted;  */
  display: block;
  width: fit-content;
  /* align-items: center; */
  gap: 20px;
  background-color: #ffffff;

}

.courseDetail-header-text {
  font-family: ProximaNovaSoft-Regular;
  font-weight: 600;
  font-size: 20px;
  color: #292929;
  text-align: center;
  /* border-style: dashed; */
}

.courseDetail-BackIcon {
  /* border-style: dashed; */
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.courseDetail-publish {
  /* border-style: dashed; */
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: var(--secondaryClr);
  padding: 7px 14px;
  margin: 0.5rem 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}

.courseDetail-publishText {
  font-family: ProximaNovaSoft-Regular;
  color: white;
}

.courseDetail-Conatiner {
  border-style: dotted;
  border-color: blue;
  display: flex;
  overflow: scroll;
  height: calc(100% - 30px);
}

.courseDetail-Conatiner-Left {
  width: 40%;
  min-width: 412px;
  border-color: green;
  border-style: solid;
}

.courseDetail-Conatiner-Right {
  width: 60%;
  min-width: max-content;
  /* min-width: 412px; */
  border-style: solid;
  border-color: red;
  overflow: scroll;
}