.main-container {
    /* position: absolute;
    z-index: -3;
    left: 288px;
    top: 109.274px;
    border-radius: 2.5em 0 0 0;
    right: 0;
    background-color: #f9f9f9;
    height: 100vh; */
    width: 100%;
    height: 100vh;
}

.date-recentcourse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.chapName {
    margin-right: 20rem;
    margin-bottom: 2rem;
}

.viewerContainer {

    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    overflow-y: auto;
    margin-bottom: 10px;
}